<tr>
    <td><%= message.body %></td>
    <td><%= message.author %></td>
    <td><%= message.sender_name %></td>
    <td><%= message.receiver %></td>
    <td><%= message.chat_name %></td>
    <td><%= Time.at(message.time).to_datetime %></td>
</tr>